<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div class="d-flex flex-column min-vh-100">

        <!-- Main Content -->
        <main class="flex-grow-1 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <h1 class="text-center mb-4"><%= contentTitle %></h1>
                        <% if (typeof message !== "undefined") { %>
                            <div class="alert alert-<%= message.class %>"><%= message.text %></div>
                        <% } %>
                        <form action="/auth/login" method="post" class="p-4 border rounded bg-light shadow">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Şifre</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
                            <div class="text-center mt-3">
                                <a href="/auth/register" class="btn btn-link">Hesabın yok mu? Kayıt Ol</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <%- include('../partials/script') %>
    <script>
        // Oturum bilgilerini temizle
        localStorage.clear();
    </script>
</body>
</html>
