<%- include('../partials/head') %>
<body>
    <div class="container">
        <h1 class="mt-4"><%= contentTitle %></h1>
        <div class="mb-4 text-center">
            <!-- Resmi bir container içine aldık ve responsive hale getirdik -->
            <div class="img-container">
                <img src="<%= game.url %>" alt="<%= game.title %>" class="img-fluid rounded shadow-sm">
            </div>
        </div>
        <p><strong>Description:</strong> <%= game.description %></p>

        <!-- Resim Galerisi -->
        <h3>Resim Galerisi</h3>
        <div class="row">
            <% gameImages.forEach(image => { %>
                <div class="col-6 col-md-4 mb-3">
                    <img src="<%= image.imagePath %>" alt="Game Image" class="img-fluid rounded shadow-sm">
                </div>
            <% }) %>
        </div>

        <a href="/" class="btn btn-primary mt-3">Back to Games</a>
    </div>
    <%- include('../partials/script') %>
</body>