<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div class="container"> <!-- En dışa alındı -->
        <div class="d-flex" id="wrapper">
            <div id="page-content-wrapper">
                <h1 class="mt-4"><%= contentTitle %></h1>

                <!-- Search and Pagination -->
                <%- include('../partials/search-pagination', {
                    searchAction: '/user',
                    searchQuery: searchQuery,
                    currentPage: currentPage,
                    totalPages: totalPages
                }) %>

                <!-- Game List -->
                <div class="row">
                    <% games.forEach(game => { %>
                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                            <a href="/user/game/<%= game.id %>" class="text-decoration-none d-block p-3 border rounded">
                                <%= game.title %>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/script') %>
</body>
</html>
